.noLog{
    color: orangered;
    font-size: 18px;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    opacity: 70%;
}
.logOn{
    color: green;
    font-size: 18px;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    opacity: 70%;
}
.mainCartDiv{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 50px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;
}
.cWel{
    color: green;
    opacity: 80%;
}

.noPro{
    color: red;
    text-align: center;
    font-family: sans-serif;
}